@mixin sass-transition($property, $duration, $easing) {
	transition: $property $duration $easing;
	-moz-transition: $property $duration $easing;
	-webkit-transition: $property $duration $easing;
}

@mixin sass-box-sizing($type: "border") {
	webkit-box-sizing:	#{$type}-box;
	-moz-box-sizing:	#{$type}-box;
	box-sizing:			#{$type}-box;
}
@mixin sass-box-shadow($distanceX, $distanceY, $blur, $rgba) {
	-webkit-box-shadow:	$distanceX $distanceY $blur $rgba;
	-moz-box-shadow:	$distanceX $distanceY $blur $rgba;
	box-shadow:			$distanceX $distanceY $blur $rgba;
}
@mixin sass-clearfix {
	&:before, &:after {
		content:"";
		display:block;
		overflow:hidden;
		visibility:hidden;
		width:0;
		height:0;
	}
	&:after {
		clear:both;
	}
	& {
		*zoom:1;
	}
}