@mixin sass-transition($property, $duration, $easing) {
	transition: $property $duration $easing;
	-moz-transition: $property $duration $easing;
	-webkit-transition: $property $duration $easing;
}

@mixin sass-box-sizing($type: "border") {
	/* Acceptable values are border, content, and padding - content is the default W3C model */ 
	webkit-box-sizing:	#{$type}-box;
	-moz-box-sizing:	#{$type}-box;
	box-sizing:			#{$type}-box;
}
@mixin sass-box-shadow($distanceX, $distanceY, $blur, $rgba) {
	-webkit-box-shadow:	$distanceX $distanceY $blur $rgba;
	-moz-box-shadow:	$distanceX $distanceY $blur $rgba;
	box-shadow:			$distanceX $distanceY $blur $rgba;
}