@import "mixins";
/*@keyframes keyboardAnimation {
    0%   { opacity: 0; transform:scale(0.2) translate(0, 0) }
    100% { opacity: 1; transform: scale(1) translate(0px, 100px) }
}
.keyboardAnimation { animation: keyboardAnimation 1s 0s }*/
.keyboard-animation, .text-animation {
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.keyboard-animation, .text-animation {
    opacity: 0;
}
body {
    font-family: Lato, sans-serif;
    font-weight: 100;
    color: #666;
    overflow-y:scroll;
    min-width: 468px;
}

/* headings */
h1, h2, h3, h4, h5 {
    font-weight: 100;
}

/* anchors & selections */
a {
    @include sass-transition(color, .3s, ease);
    text-decoration: none;
    color: #000;
    &:hover, &:active {
        color: #666;
    }
}
::selection {
    color:#F00;
    background-color:#FFF;
}
::-moz-selection {
    color:#ff0000;
    background-color:#FFF;
}

/* ---------------------------------- */

/* @Layout */

div#wrapper {
    width: 100%;
    margin: 0;
}

/* ---------------------------------- */

/* Article */

article { 
    background: #fff; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    min-height: 100%;
    z-index:9999;
    @include sass-box-shadow(0px, 0px, 12px, #666);
    header {
        position: absolute; 
        /*
        margin: 50px 0 0 0;
        width: 300px;
        height: 200px;
        overflow: hidden;
        top: 0;
        padding: 0 0 0 10px;
        */
        top: 0; right: 0; bottom: 0; left: 0;
        width: 100%;
        /*height: 80%;*/
    }
    p {
        font-family: Courier;
        font-style: normal;
        line-height: 18px;
        color: #777;
        font-size: 11px;
    }
    
    
    &.gallery {
        header {
            position: relative;
        }
        background-color: #EFEADD;
        h1 {
            margin: 2em;
        }
        .gallery-description {
            margin: 0 0 0 50px;
            padding: 0 0 0 0;
        }

        .gallery-description-text {
            padding-left:100px;
            p {
                width: 200px;
            }
            .footnotes {
                margin: 50px 0 0 0;
            }
            .numeral {
                position: absolute;
                top: 250px;
                left: 50px;
                line-height: 10px;
                padding: 5px;
                border-bottom: 5px solid #444;
                text-align: center;
            }
        }
        figure.gallery-list { 
            background: transparent;
            position: fixed; 
            top: 250px; 
            min-height: 400px;  
            left: 400px; 
            margin: 0; 
            padding: 0;
            ul {
                list-style-type: none;
                display: block;
                margin: 0;
                padding: 0;
                width: auto;
                white-space: nowrap;
                li[itemprop=photography] {
                    img {
                        display: block;
                        -webkit-filter: grayscale(60%);
                        -moz-filter: grayscale(60%);
                        filter: grayscale(60%);
                        -webkit-transition: all 0.3s ease-in;
                        -moz-transition: all 0.3s ease-in;
                        -o-transition: all 0.3s ease-in;
                        transition: all 0.3s ease-in;
                    }
                    &:hover img {
                        -webkit-filter:none;
                        -moz-filter:none;
                        filter:none;
                    }
                    figcaption {
                        margin-top: -20px;
                        height: 20px;
                        line-height: 20px;
                        position:relative;
                        opacity: 0;
                        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
                        filter: alpha(opacity=0);
                        .caption-text {
                            position:relative;
                            color:#222;
                            z-index:5;
                            text-align: center;
                            font-family: Courier, sans-serif;
                            font-size: 12px;
                            text-shadow: 1px 1px 2px #FFF;
                        }
                        .caption-background {
                            position:absolute;
                            top:0px;
                            left:0px;
                            width:100%;
                            height:100%;
                            background-color:#FFF;
                            z-index:1;
                            -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
                            filter: alpha(opacity=50);
                            opacity:.5;
                        }
                    } 
                }
            }
        }
    }
    &.article-cover {
        background: #f2f2f2;
        header {
            position: absolute;
            left: 50%;
            top: 50%;
            margin: -150px 0 0 -512px ;
            width: 1024px;
            padding: 0;
            height: 300px;
        }
        h1, h2 {
            font-style: italic;
            text-align: center;
            width: 100%;
            margin: 0;
        }
        h1 {
            font-size: 11em;
        }
        h2 {
            font-size: 6em;
        }
        p {
            text-align: center;
        }
        i {
            font-size: 1em;
        }
        hgroup {
            h3 {
                position: absolute;
                &.tl {
                    top: 30px;
                    left: 30px;
                }
                &.tr {
                    top: 30px;
                    right: 30px;
                }
                &.bl {
                    bottom: 30px;
                    left: 30px;
                }
                &.br {
                    bottom: 30px;
                    right: 30px;
                }
            }
        }
        .fullscreen-image {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            opacity: .7;
            filter:alpha(opacity=70);
        }
    }
	blockquote {
		em {
			text-shadow: 1px 1px 2px #DDD;
			color: #444;
			font-size: 2em;
			-webkit-font-smoothing: subpixel-antialiased;
		}
	}
}

/* ---------------------------------- */

/* Nav */

summary {
    position: fixed;
    top: 50%;
    left: 50%;
    background: #000;
    width: 640px;
    height: 480px;
    z-index: 9999;
    display: none;
    padding: 24px 32px 24px 32px;
    margin: -240px 0 0 -320px;
    opacity: .9;
    h1, h2, p {
        text-align: center; color: #fff;
    }
    h1 {
        font-size: 25px; font-style: italic; text-transform: uppercase; line-height: 30px; margin: 50px 0 0 0; letter-spacing: 4px;
    }
    h2 {
        padding: 0 0 0 0; color: #fff; font-size: 11px;
    }
    p {
        color: #ccc;
        padding: 0 0 15px 0;
        a {
            color: #ccc;
            border-bottom: 1px dashed #ccc;
            &:hover{
                color: #999;
                border: 0 none;
            }
        }
    }
    #pie {
        width:400px;
        height: 300px;
        margin:0 auto;

        path.arc {
  cursor: move;
  fill: #fff;
}

.node {
  font-size: 10px;
}

.node:hover {
  fill: #1f77b4;
}

.link {
  fill: none;
  stroke: #1f77b4;
  stroke-opacity: .4;
  pointer-events: none;
}

.link.source, .link.target {
  stroke-opacity: 1;
  stroke-width: 2px;
}

.node.target {
  fill: #d62728 !important;
}

.link.source {
  stroke: #d62728;
}

.node.source {
  fill: #2ca02c;
}

.link.target {
  stroke: #2ca02c;
}

/* SKILLS */

#skillsTitle { position:absolute; }
#skills_svg_container { text-align:right; }
#skills_svg_container circle {
  fill: rgb(31, 119, 180);
  fill-opacity: .25;
  stroke: rgb(31, 119, 180);
  stroke-width: 1px;
}


#skills_svg_container .node3 circle {
  fill: rgb(178, 223, 144);
  fill-opacity: 1;
}

#skills_svg_container .node3.down circle, #skills_svg_container .node2.down circle {
  fill: rgb(255,0,240);
  fill-opacity: 1;
}



#skills_svg_container text {
  font-size: 7px;
}

#skills_svg_container .node3.down text { font-size: 9px; fill:#fff; }
#skills_svg_container .node2.down text { font-size: 9px; fill:#fff; }

#skills_svg_container  .node1 text { font-size:11px; text-transform: uppercase; fill: #195482; }
#skills_svg_container  .node2 text { font-size:9px; fill: #195482; }
#skills_svg_container  .node3 text { fill: #216325; }

#skills_svg_container  .node1.active text { visibility: hidden; }
#skills_svg_container  .node2.open text, .node2.open circle { visibility: visible !important; }
#skills_svg_container  .node2.open.opened text { visibility: hidden !important; }
#skills_svg_container  .node2.active text { visibility: hidden !important; }
#skills_svg_container  .node3.open text, .node3.open circle { visibility: visible !important; }
#skills_svg_container  .node3.open.disabled text, .node3.open.disabled circle { visibility: hidden !important; }
#skills_svg_container  .node3.notext text { visibility: hidden !important; }
#skills_svg_container  .node3.active text { visibility: visible !important; }


#skills_svg_container [class^=node]:not(.node1):not(.node0) text, [class^=node]:not(.node1):not(.node0) circle { visibility: hidden; }  /*hide the text and circles for all nodes greater than zero */

    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    article {
        &.article-cover {
            h1 {
                font-size: 8em;
            }
            i {
                font-size: 3em;
            }
        }
    }
}
@media (max-width: 768px) {
    article {
        &.article-cover {
            h1 {
                font-size: 4em;
            }
            i {
                font-size: 3em;
            }
        }
    }
}