@import "mixins";

body {
    font-family: Lato, sans-serif;
    font-weight: 100;
    color: #666;
}

/* headings */
h1, h2, h3, h4, h5 {
    font-weight: 100;
}

/* anchors & selections */
a {
    @include sass-transition(color, .3s, ease);
    text-decoration: none;
    color: #000;
    &:hover, &:active {
        color: #666;
    }
}
::selection {
    color:#F00;
    background-color:#FFF;
}
::-moz-selection {
    color:#ff0000;
    background-color:#FFF;
}

/* ---------------------------------- */

/* @Layout */

div#wrapper {
    width: 100%;
    margin: 0;
}

/* ---------------------------------- */

/* Article */

article { 
    background: #fff; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    min-height: 100%;
    z-index:9999;
    @include sass-box-shadow(0px, 0px, 12px, #666);
    header {
        position: absolute; 
        margin: 50px 0 0 0;
        width: 300px;
        height: 200px;
        overflow: hidden;
        top: 0;
        padding: 0 0 0 10px;
    }
    p {
        font-family: Courier;
        font-style: normal;
        line-height: 18px;
        color: #777;
        font-size: 11px;
    }
    figure { 
        background: transparent;
        position: fixed; 
        top: 250px; 
        min-height: 400px;  
        left: 400px; 
        margin: 0; 
        padding: 0;
        img {
            display: block;
            margin-bottom: 20px;
        }
    }
    .numeral {
        position: absolute;
        top: 250px  ;
        left: 50px;
        font-size: 15px;
        line-height: 10px;
        padding: 5px;
        border-bottom: 2px solid #444;
        text-align: center;
    }
    &.gallery {
        background-color: #EFEADD;
        img{
            border: 1px solid #FFF;
        }
    }
    &.article-cover {
        background: #f2f2f2;
        header {
            position: absolute;
            left: 50%;
            top: 50%;
            margin: -150px 0 0 -512px ;
            width: 1024px;
            padding: 0;
            height: 300px;
        }
        h1, h2 {
            font-style: italic;
            text-align: center;
            width: 100%;
            margin: 0;
        }
        h1 {
            font-size: 11em;
        }
        h2 {
            font-size: 6em;
        }
        h3 {
            position: absolute;
            &.tl {
                top: 30px;
                left: 30px;
            }
            &.tr {
                top: 30px;
                right: 30px;
            }
            &.bl {
                bottom: 30px;
                left: 30px;
            }
            &.br {
                bottom: 30px;
                right: 30px;
            }
        }
        p {
            text-align: center;
        }
        /*
        .background-image {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
        }
        */
        &.chapter {
            header {
                height: 500px;
                margin-top: -250px;
            }
        }
    }
}

/* ---------------------------------- */

/* Nav */

summary {
    position: fixed;
    top: 50%;
    left: 50%;
    background: #000;
    width: 400px;
    height: 400px;
    z-index: 999999;
    display: none;
    padding: 25px 50px 50px 50px;
    margin: -250px 0 0 -250px;
    opacity: .9;
    h1, h2, p {
        text-align: center; color: #fff;
    }
    h1 {
        font-size: 25px; font-style: italic; text-transform: uppercase; line-height: 30px; margin: 50px 0 0 0; letter-spacing: 4px;
    }
    h2 {
        padding: 0 0 0 0; color: #fff; font-size: 11px;
    }
    p {
        color: #ccc;
        padding: 0 0 15px 0;
        a {
            color: #ccc;
            border-bottom: 1px dashed #ccc;
            &:hover{
                color: #999;
                border: 0 none;
            }
        }
    }
}


/* ---------------------------------- */

/* Modal */

.modal-extras {
    position: absolute;
    top: 250px;
    right: 0;
    width: 50px;
    a {
        display: block;
        color: #999;
        text-align: left;
        text-indent: -900px;
        padding: 0 0;
        width: 100%;
        height: 50px;
        overflow: hidden;
        border-bottom: 1px solid #ccc;
    }
    a[data-camera] {
        border: 0;
        background: url(../images/f.png) 0 50% no-repeat;
    }
    a[data-location] {
        background: url(../images/g.png) 0 50% no-repeat;
    }
}

#modal {
    width: 600px;
    height: 250px;
    padding: 0;
    position: fixed;
    top: 55%;
    left: 50%;
    z-index: 999999;
    margin: -125px 0 0 -300px;
    overflow: hidden;
    display: none;
    .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #111;
        opacity: .9;
        z-index: 1;
    }
    &._active {
        display: block;
        top: 50%;
    }
    .modal-details {
        position: absolute;
        top: 50px;
        left: 50px;
        z-index: 2;
        h1, h2, p {
            text-align: center; color: #fff
        }
        h1, h2 {
            font-size: 25px; font-style: italic; text-transform: uppercase; line-height: 30px; 
        }
        ul {
            width: 500px; margin: 50px 0 0 0;
            li {
                float: left; width: 150px;
            }
        }
    }
}

.footnotes {
    margin: 50px 0 0 0;
}
.column {
    margin: 0 0 0 50px;
    padding: 0 0 0 0;
}

.text {
    margin: 250px 0 0 0;
    padding: 0 0 0 100px;
    p {
        width: 200px;
    }
}


#interlude-pioneer header {
    position: relative;
}

#interlude-pioneer-craft {
    position: absolute;
    left: 353px;
    top: 1px;
    width: 0;
    overflow: hidden;
    height: 157px;
}



@media only screen and (max-device-width: 1024px) and (min-device-width: 480px)  { }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) { }
@media only screen and (max-device-width: 480px) { }
@media only screen and (max-device-width: 480px) and (orientation:landscape) { }