@import "reset";
@import "mixins";

body {
	overflow-x: hidden;
	font: normal 62.5%/1.5 'Droid Sans', sans-serif;
	color: #666;
}
/* headings */
h1, h2, h3 {
	font-weight: bold;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.6em;
}
h3 {
	font-size: 1.2em;
}
/* anchors */

a {
	@include sass-transition(color, .3s, ease);
	text-decoration: none;
	color: #000;
	&:hover, &:active {
		color: #666;
	}
}
/* clearfix [TODO: is needed?] */
.cf {
	@include sass-clearfix;
}

/* NAVIGATION */
nav {
	display:inline-block;
	vertical-align: top;
	width: 24%; /* [TODO: why 25% breaks layout?] */
	ul {
		font-size: 1.2em;
		margin: 2em;
		li {
			margin: .6em;
			a {
				font-weight: 400;
			}
			.active a {
				font-weight: 700
			}
		}
	}
	ul.social {
		margin: 2em;
		li {
			display: inline;
		}
	}
}


/* [TODO --> clean from here and below] */
header {
	padding: 1em 2em;
	background-color: #FFF;
}

article {
	padding: 1em;
	ul {
		text-align:center;
		li[itemprop=photography] {
			background:#fff;
			width:40%;
			position:relative;
			display:inline-block;
		}
		li[itemprop=photography] img {
			width:100%;
			float:left;
		}
		li[itemprop=photography] [itemprop=name] {
			color:#fff;
			text-shadow:0 0 4px #000;
			font-size:1.4em;
			position:absolute;
			text-align:center;
			width:100%;
			bottom:0;
			left:0;
			line-height:2;
			display:block;
		}
		li[itemprop=photography] [itemprop=description] {
			color:#8c8b90;
			font-family:Arial;
			font-size:.8em;
			margin-left:165px;
			padding:0 10px;
		}
	}
}

@media only screen and (max-width: 30em) {
	
	header {
		text-align: center;
	}
	.toggleButton {
		font-size: 2em;
		text-align: left;
		display: inline;
		float: left;
		cursor: pointer;
	}
	i {
		font-size: 2em;
	}
	nav {
		position: fixed;
		z-index: 1;
		a {
			font-size: 1.4em;
		}
		ul.social li {
			display: inline-block;
		}
	}
	section {
		@include sass-box-shadow(-3px, 0px, 16px, rgba(0, 0, 0, 0.3));
		position:absolute;
		background-color: #FFF;
		top:0;
		left:0;
		width: 100%;
		overflow: hidden;
		z-index: 10;
		@include sass-transition(all, .2s, ease-in-out);
	}
	section.opened {
		margin-left: 120px;
	}
	li[itemprop=photography] {
	width:100%;
	margin:10px 0;
	}

	li[itemprop=photography] [itemprop=name] {
	font-size:180%;
	}
}

@media screen and (min-width: 30em) {
	.main {
		position: fixed;
	}
	.toggleButton {
		display: none;
	}
	section {
		width: 75%;
		display: inline-block;
	}
}

@media only screen and (max-width: 60em) {
	li[itemprop=photography] {
	width:84%;
	margin:6px 10px;
	}

	li[itemprop=photography] [itemprop=name] {
	font-size:180%;
	}
}
// [TODO retina]
@media screen and (-webkit-min-device-pixel-ratio: 1.3), screen and (min--moz-device-pixel-ratio: 1.3), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-device-pixel-ratio: 1.3), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
	
}