.keyboard-animation {
  display: none;
}

article {
  position: relative !important;
}
article.gallery .gallery-description-text p {
  width: auto;
}
article.gallery figure.gallery-list {
  top: 0px;
  position: relative !important;
  left: auto !important;
  width: 100%;
}
article.gallery figure.gallery-list ul li[itemprop=photography] {
  margin-top: 20px;
}
article.gallery figure.gallery-list ul li[itemprop=photography] img {
  width: 100%;
}
