/* http://meyerweb.com/eric/tools/css/reset/  v2.0 | 20110126 License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after { content: ''; content: none; }

q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

body { overflow-x: hidden; font: normal 62.5%/1.5 'Droid Sans', sans-serif; color: #666; }

/* headings */
h1, h2, h3 { font-weight: bold; }

h1 { font-size: 2em; }

h2 { font-size: 1.6em; }

h3 { font-size: 1.2em; }

/* anchors */
a { transition: color 0.3s ease; -moz-transition: color 0.3s ease; -webkit-transition: color 0.3s ease; text-decoration: none; color: #000; }
a:hover, a:active { color: #666; }

/* clearfix [TODO: is needed?] */
.cf:before, .cf:after { content: ""; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.cf:after { clear: both; }
.cf { *zoom: 1; }

/* NAVIGATION */
nav { display: inline-block; vertical-align: top; width: 24%; /* [TODO: why 25% breaks layout?] */ }
nav ul { font-size: 1.2em; margin: 2em; }
nav ul li { margin: .6em; }
nav ul li a { font-weight: 400; }
nav ul li .active a { font-weight: 700; }
nav ul.social { margin: 2em; }
nav ul.social li { display: inline; }

/* [TODO --> clean from here and below] */
header { padding: 1em 2em; background-color: #FFF; }

article { padding: 1em; }
article ul { text-align: center; }
article ul li[itemprop=photography] { background: #fff; width: 40%; position: relative; display: inline-block; }
article ul li[itemprop=photography] img { width: 100%; float: left; }
article ul li[itemprop=photography] [itemprop=name] { color: #fff; text-shadow: 0 0 4px #000; font-size: 1.4em; position: absolute; text-align: center; width: 100%; bottom: 0; left: 0; line-height: 2; display: block; }
article ul li[itemprop=photography] [itemprop=description] { color: #8c8b90; font-family: Arial; font-size: .8em; margin-left: 165px; padding: 0 10px; }

@media only screen and (max-width: 60em) { article ul li[itemprop=photography] { width: 84%; margin: 6px 10px; }
  article ul li[itemprop=photography] [itemprop=name] { font-size: 180%; } }
@media screen and (max-width: 30em) { header { text-align: center; }
  .toggleButton { font-size: 2em; text-align: left; display: inline; float: left; cursor: pointer; }
  i { font-size: 2em; }
  nav { position: fixed; z-index: 1; }
  nav a { font-size: 1.4em; }
  nav ul.social li { display: inline-block; }
  section { -webkit-box-shadow: -3px 0px 16px rgba(0, 0, 0, 0.3); -moz-box-shadow: -3px 0px 16px rgba(0, 0, 0, 0.3); box-shadow: -3px 0px 16px rgba(0, 0, 0, 0.3); position: absolute; background-color: #FFF; top: 0; left: 0; width: 100%; overflow: hidden; z-index: 10; transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; }
  section.opened { margin-left: 120px; }
  article ul li[itemprop=photography] { width: 100%; margin: 10px 0; }
  article ul li[itemprop=photography] [itemprop=name] { font-size: 180%; } }
@media screen and (min-width: 30em) { .main { position: fixed; }
  .toggleButton { display: none; }
  section { width: 75%; display: inline-block; } }
