/* http://meyerweb.com/eric/tools/css/reset/  v2.0 | 20110126 License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after { content: ''; content: none; }

q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

body { overflow-x: hidden; font-family: Lato, sans-serif; color: #666; font-weight: 100; }

/* headings */
h1, h2, h3 { font-weight: 100; }

h1 { font-size: 16em; }

h2 { color: #AAA; padding: 4em 0; font-size: 9em; }

h3 { font-size: 6em; }

/* anchors */
a { transition: color 0.3s ease; -moz-transition: color 0.3s ease; -webkit-transition: color 0.3s ease; text-decoration: none; color: #000; }
a:hover, a:active { color: #666; }

header { padding: 10em; background-color: #FFF; text-align: center; margin: 0 auto; }

article { width: 100%; text-align: center; }
article ul li[itemprop=photography] figcaption { text-align: center; width: 100%; display: block; }
article ul li[itemprop=photography] figcaption [itemprop=description] { color: #F00; }
article div { width: 100%; overflow-x: scroll; }
article div ul { list-style-type: none; display: block; margin: 0; padding: 0; width: auto; white-space: nowrap; }
article div ul li[itemprop=photography] { display: inline-block; margin: 6px 10px; }
